#!/bin/bash

# Easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# IP address
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# Reload the shell
alias reload="exec ${SHELL} -l"

# git aliases
# git config --global alias.amend 'commit --amend --no-edit'
# git config --global alias.st status
# git config --global alias.unstage 'reset HEAD --'
# git config --global alias.last 'log -1 HEAD'

# OCaml aliases
alias dune='opam exec -- dune'
alias utop='opam exec -- utop'

# Docker aliases
alias dc='docker-compose'
alias dcr='docker-compose run'
alias dcb='docker-compose build'
alias dcd='docker-compose down'
alias dce='docker-compose exec'
alias dcl='docker-compose logs'
alias dcf='docker-compose run --rm'

# Get date and time
alias datetime='date "+%Y-%m-%d %H:%M:%S"'
